        /* laptop/desktop 1200px */
        
        @media (min-width: 1200px) and (max-width: 1500px) {}
        /* normal desktop */
        
        @media (min-width: 992px) and (max-width: 1200px) {}
        /* tablet */
        
        @media (min-width: 320px) and (max-width:575px) {
            .sm-display-none {
                display: none;
            }
            .grid {
                display: none;
            }
            .logo {
                justify-content: center!important;
                margin-top: 20px;
            }
            .food-section {
                padding: 0 0 120px 0;
            }
            .food-info {
                padding: 20px;
            }
            .food-cta {
                margin-left: 20px;
            }
            .footer-component {
                display: none;
            }
        }
        
        @media (min-width: 650px) and (max-width: 991px) {
            .grid {
                display: none;
            }
            .logo {
                justify-content: center!important;
                margin-top: 50px;
            }
            .food-section {
                padding: 0 0 120px 0;
            }
            .food-info {
                padding-top: 20px;
            }
            .drive-in-order {
                padding: 10px;
            }
            .drive-in-order h5 {
                font-size: 15px;
            }
            .pop-up-title {
                font-size: 18px;
            }
            .order-cta {
                padding: 10px 15px;
            }
            .footer-component {
                display: none;
            }
        }
        /* small mobile */
        
        @media (min-width: 320px) and (max-width:580px) {
            .title {
                text-align: center;
                margin-bottom: 10px;
            }
            .menus::after {
                display: none;
            }
            .logo {
                justify-content: center!important;
            }
            .menu-img {
                margin-bottom: 10px;
                margin-top: 0!important;
            }
            .homepage {
                display: none;
            }
            .scroll {
                overflow: auto;
            }
            .mt {
                margin-top: 30px;
            }
        }
        
        @media (min-width: 580px) {
            .menu-img {
                margin-bottom: 10px;
            }
        }
        /* large mobile */
        
        @media only screen and (min-width: 520px) and (max-width: 767px) {}